# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/fe/node_modules/
/blog/handlers/__pycache__/
/fe/assets/node_modules/
/blog/__pycache__/
